<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>
    <span class="title">Car Rental</span>
</header>

<div class="main-content">

    <div class="summary">
        <h1>Dodaj </h1>

        <form th:action="@{/admin}" method="post">
            <label>Nazwa</label>
            <input type="text" name="name" required>
            <label >Model</label>
            <input type="text" name="model "required>
            <label >Year</label>
            <input type="text" name="yearOfProduction"required>
            <label >Engine</label>
            <input type="text" name="engine"required>
            <label>urlImg</label>
            <input type="text" name="imgUrl">
            <button type="submit">Dodaj</button>
        </form>

    </div>
</div>
</body>
</html>
