<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Rental</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<header>
    <span class="title">Car Rental</span>
</header>

<div class="main-content">

    <div class="summary">
        <h1>Dodaj Samochód</h1>

        <form th:action="@{/adminPage}" method="post">
            <label for="name">Nazwa</label>
            <input type="text" id="name" name="name" required>

            <label for="model">Model</label>
            <input type="text" id="model" name="model" required>

            <label for="year">Rok produkcji</label>
            <input type="text" id="year" name="yearOfProduction" required>

            <label for="engine">Silnik</label>
            <input type="text" id="engine" name="engine" required>

            <label for="imgUrl">URL obrazka</label>
            <input type="text" id="imgUrl" name="imgUrl">

            <button type="submit">Dodaj</button>
        </form>
    </div>
</div>

</body>
</html>
