<!DOCTYPE html>
<html lang="en" xmlns:sec="thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars/Price</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>

<header>
    <h1>Cars/Price</h1>
</header>

<nav>
    <a th:href="@{/}" class="nav-link">Main</a>
    <a th:href="@{/cars-price}" class="nav-link">Cars/Price</a>
    <a th:href="@{/about}" class="nav-link">About</a>
    <a th:href="@{/login}" method="post" class="nav-link">Login/Register</a>
</nav>

<div class="main-content">
    <div class="car" th:each="car : ${cars}">
        <p class="car-name" th:text="${car.name}"></p>
        <img th:src="@{${car.imgUrl}}" alt="Car Image"/>

        <div>
            <span th:text="${car.yearOfProduction}"></span>
            <span th:text="${car.engine}"></span>
        </div>
        <a th:href="@{'/car-details/' + ${car.id}}" class="check-offer">Check Offer</a>
    </div>
</div>

<footer>
    &copy; 2024 Car Rental
</footer>

</body>

</html>
