
<!DOCTYPE html>
<html lang="en" xmlns:sec="thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>

<header>
    <h1>Car Rental</h1>
</header>

<nav>
    <a href="/">Main</a>
    <a href="/cars">Cars/Price</a>
    <a href="/login" method="post">Login/Register</a>
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/logout}" class="btn btn-primary" sec:authorize="isAuthenticated()">Wyloguj</a>
    </div>

</nav>

<section>
    <h2>Date and Car Selection</h2>
    <div class="form-container">
        <!-- Formularz "Filter by Date Range" i "Car Selection" -->
        <form th:action="@{/chooseCar}" method="post">
            <!-- Formularz "Filter by Date Range" -->
            <div>
                <h3>Filter by Date Range</h3>
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate" required>
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate" required>
            </div>

            <!-- Formularz "Car Selection" -->
            <div>
                <h3>Car Selection</h3>
                <label for="carType">Select Car Type:</label>
                <select id="carType" name="carType">
                    <option value="Sedan">Sedan</option>
                    <option value="SUV">SUV</option>
                    <option value="Convertible">Convertible</option>
                </select>
            </div>

            <button type="submit">Search Cars</button>
        </form>
    </div>
</section>

<footer>
    &copy; 2024 Car Rental
</footer>

</body>

</html>
